body,
html,
:root {
  --accent: #ff724c;
  --text: #ffffff;

  --p-rating-icon-active-color: var(--accent);
}
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}